# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env/
.venv/

# config file
config.toml

# data
data/
**/src/data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
